@reference "../../../app/globals.css";

.link {
    @apply text-sm md:text-lg lg:text-2xl font-bold text-corporate-heading hover:text-primary transition-colors underline-offset-4;
}

.active-link {
    @apply text-sm md:text-lg lg:text-2xl font-bold text-primary;
}